<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>欢迎来到邹文忠的个人博客</title>

<link rel="stylesheet" href="/stylesheets/register.css" />

<body>

<div class="login-container">
	<h1>管理员登录</h1>
	
	<div class="connect">
		<p>以梦为马，不负韶华</p>
	</div>
	
	<form action="/adminLogin" method="post" id="loginForm">
		<div>
			<input type="text" name="name" class="username" placeholder="管理员名" autocomplete="off"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="管理员密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<button id="submit" type="submit">登 陆</button>
	</form>
	<a href="/logina">
		<button type="button" class="register-tis">用户登录 </button>
	</a>

</div>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/common.js"></script>
<!--背景图片自动更换-->
<script src="javascripts/supersized.3.2.7.min.js"></script>
<script src="javascripts/supersized-init.js"></script>
<!--表单验证-->
<script src="javascripts/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>